*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background: burlywood;
    text-align: center;
}
h1
{
    padding: 150px;
    font-family: Tahoma, sans-serif;
}